
body {
    width: 100vw;
    height: 100vh;
    background:  hsl(216, 12%, 8%);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
  }

  .window {
    min-width: 330px;
    max-width: 480px;
    width: 25vw;
    height: 50vh;
    border-radius: 20px;
    background:hsl(213, 19%, 18%);
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px rgba(182, 28, 28, 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 320px;
  }
  
  nav {
 
    width: 85%;
    margin-top: 0.3rem;
  }
  

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;   
    user-select: none;
  }
  
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  li {
    border-radius: 50%;
    width: 20px;
    padding: 4% 5%;
    position: relative;
    background:  hsl(214, 15%, 27%);
    cursor: pointer;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    position: relative;
    user-select: none;
    display: flex;
    color: beige;
  }
  
  
  li.selected {
    background: hsl(32, 93%, 58%) !important;
    color:beige
  }

  li:hover {
    background: hsl(217, 12%, 63%);
    color:beige
  }

 
  
  .add-item {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    align-self: center;
  }
  

  
  p, div {
    font-size: 15px;
   }

   .unsubmitted {
   margin: auto;
     width: 85%;
     color:hsl(217, 12%, 63%);
     display: flex;
     flex-direction: column;
     
   }
   .unsubmitted svg{
background:  hsl(214, 15%, 27%);
padding: 8px 8px;
border-radius: 50%;

   }
   .unsubmitted span {
     display: block;
     font-weight: 400;
     font-size: 22px;
     margin: 0.5rem 0;
     color:beige;
   
   }
   .unsubmitted p {
    font-size: 14px;
   }
   .submitted {
     margin: auto;
     width: 85%;
     color:hsl(217, 12%, 63%);
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
    
   }
   .submitted svg{
    transform: scale(0.8);
   }
    
   
   .submitted span {
     display: block;
    border-radius: 100vmax;
     color: hsl(32, 93%, 58%);
     padding: 6px 15px;
     background-color: hsl(219, 12%, 27%);
     width: max-content;
     margin: 0.5rem auto;
    

   }

   .submitted h3 {
    font-weight: 400;
    color: beige;
    font-size: 22px;
    margin: 1rem 0 0.5rem 0;
   }
   .submitted p {
  
    font-size: 14px;
  margin: 0;
   }

   .submit {
     width: 85%;
     height:35px;
    border-radius: 100vmax;
    border: none;
    margin-top: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    background: hsl(32, 93%, 58%) ;
    color:beige;
    }


   .submit:hover {
 
    background: beige  ;
    color: hsl(32, 93%, 58%);
    }